<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bank</key>
	<dict>
		<key>香港上海汇丰银行有限公司</key>
		<dict>
			<key>icon</key>
			<string></string>
		</dict>
		<key>Sinopay</key>
		<dict>
			<key>icon</key>
			<string>sino_pay_icon</string>
			<key>logo</key>
			<string>sino_pay_icon</string>
		</dict>
		<key>sinopay</key>
		<dict>
			<key>icon</key>
			<string>sino_pay_icon</string>
			<key>logo</key>
			<string>sino_pay_icon</string>
		</dict>
		<key>中国工商银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cmbcn_l</string>
			<key>logo</key>
			<string>bk_cmbcn_h</string>
		</dict>
		<key>工商银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cmbcn_l</string>
			<key>logo</key>
			<string>bk_cmbcn_h</string>
		</dict>
		<key>中国银行</key>
		<dict>
			<key>icon</key>
			<string>bk_boc_l</string>
			<key>logo</key>
			<string>bk_boc_h</string>
		</dict>
		<key>中国建设银行</key>
		<dict>
			<key>icon</key>
			<string>bk_ccb_l</string>
			<key>logo</key>
			<string>bk_ccb_h</string>
		</dict>
		<key>建设银行</key>
		<dict>
			<key>icon</key>
			<string>bk_ccb_l</string>
			<key>logo</key>
			<string>bk_ccb_h</string>
		</dict>
		<key>广发银行</key>
		<dict>
			<key>icon</key>
			<string>bk_gdb_l</string>
			<key>logo</key>
			<string>bk_gdb_h</string>
		</dict>
		<key>中信银行</key>
		<dict>
			<key>icon</key>
			<string>bk_citic_l</string>
			<key>logo</key>
			<string>bk_citic_h</string>
		</dict>
		<key>招商银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cmb_l</string>
			<key>logo</key>
			<string>bk_cmb_h</string>
		</dict>
		<key>中国民生银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cmbc_l</string>
			<key>logo</key>
			<string>bk_cmbc_h</string>
		</dict>
		<key>民生银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cmbc_l</string>
			<key>logo</key>
			<string>bk_cmbc_h</string>
		</dict>
		<key>中国农业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_abc_l</string>
			<key>logo</key>
			<string>bk_abc_h</string>
		</dict>
		<key>农业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_abc_l</string>
			<key>logo</key>
			<string>bk_abc_h</string>
		</dict>
		<key>交通银行</key>
		<dict>
			<key>icon</key>
			<string>bk_bcm_l</string>
			<key>logo</key>
			<string>bk_bcm_h</string>
		</dict>
		<key>上海浦东发展银行</key>
		<dict>
			<key>icon</key>
			<string>bk_spdb_l</string>
			<key>logo</key>
			<string>bk_spdb_h</string>
		</dict>
		<key>浦东发展银行</key>
		<dict>
			<key>icon</key>
			<string>bk_spdb_l</string>
			<key>logo</key>
			<string>bk_spdb_h</string>
		</dict>
		<key>浦发银行</key>
		<dict>
			<key>icon</key>
			<string>bk_spdb_l</string>
			<key>logo</key>
			<string>bk_spdb_h</string>
		</dict>
		<key>兴业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cib_l</string>
			<key>logo</key>
			<string>bk_cib_h</string>
		</dict>
		<key>中国光大银行</key>
		<dict>
			<key>icon</key>
			<string>bk_ceb_l</string>
			<key>logo</key>
			<string>bk_ceb_h</string>
		</dict>
		<key>光大银行</key>
		<dict>
			<key>icon</key>
			<string>bk_ceb_l</string>
			<key>logo</key>
			<string>bk_ceb_h</string>
		</dict>
		<key>上海银行</key>
		<dict>
			<key>icon</key>
			<string>bk_bos_l</string>
			<key>logo</key>
			<string>bk_bos_h</string>
		</dict>
		<key>平安银行</key>
		<dict>
			<key>icon</key>
			<string>bk_pab_l</string>
			<key>logo</key>
			<string>bk_pab_h</string>
		</dict>
		<key>华夏银行</key>
		<dict>
			<key>icon</key>
			<string>bk_hxb_l</string>
			<key>logo</key>
			<string>bk_hxb_h</string>
		</dict>
		<key>东亚银行</key>
		<dict>
			<key>icon</key>
			<string>bk_dongya</string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>深圳发展银行</key>
		<dict>
			<key>icon</key>
			<string>bk_sdb_l</string>
			<key>logo</key>
			<string>bk_sdb_h</string>
		</dict>
		<key>恒生银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>汇丰银行</key>
		<dict>
			<key>icon</key>
			<string>bk_huifeng</string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>花旗银行</key>
		<dict>
			<key>icon</key>
			<string>bk_huaqi</string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>上海农村商业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_srcb_l</string>
			<key>logo</key>
			<string>bk_srcb_h</string>
		</dict>
		<key>宁波银行</key>
		<dict>
			<key>icon</key>
			<string>bk_nbcb_l</string>
			<key>logo</key>
			<string>bk_nbcb_h</string>
		</dict>
		<key>北京银行</key>
		<dict>
			<key>icon</key>
			<string>bk_bob_l</string>
			<key>logo</key>
			<string>bk_bob_h</string>
		</dict>
		<key>中国邮政储蓄银行</key>
		<dict>
			<key>icon</key>
			<string>bk_psbc_l</string>
			<key>logo</key>
			<string>bk_psbc_h</string>
		</dict>
		<key>邮政银行</key>
		<dict>
			<key>icon</key>
			<string>bk_psbc_l</string>
			<key>logo</key>
			<string>bk_psbc_h</string>
		</dict>
		<key>邮政储蓄银行</key>
		<dict>
			<key>icon</key>
			<string>bk_psbc_l</string>
			<key>logo</key>
			<string>bk_psbc_h</string>
		</dict>
		<key>邮储银行</key>
		<dict>
			<key>icon</key>
			<string>bk_psbc_l</string>
			<key>logo</key>
			<string>bk_psbc_h</string>
		</dict>
		<key>南洋商业银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>永隆银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>永亨银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>南京银行</key>
		<dict>
			<key>icon</key>
			<string>bk_njcb_l</string>
			<key>logo</key>
			<string>bk_njcb_h</string>
		</dict>
		<key>渣打银行</key>
		<dict>
			<key>icon</key>
			<string>bk_zhada_l</string>
			<key>logo</key>
			<string>bk_zhada_l</string>
		</dict>
		<key>温州银行</key>
		<dict>
			<key>icon</key>
			<string>bk_wzb_l</string>
			<key>logo</key>
			<string>bk_wzb_h</string>
		</dict>
		<key>江苏银行</key>
		<dict>
			<key>icon</key>
			<string>bk_jsbc_l</string>
			<key>logo</key>
			<string>bk_jsbc_h</string>
		</dict>
		<key>大连银行</key>
		<dict>
			<key>icon</key>
			<string>bk_bodl_l</string>
			<key>logo</key>
			<string>bk_bodl_h</string>
		</dict>
		<key>浙江泰隆商业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_zjtlcb_l</string>
			<key>logo</key>
			<string>bk_zjtlcb_h</string>
		</dict>
		<key>浙江民泰商业银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>大华银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>盛京银行</key>
		<dict>
			<key>icon</key>
			<string>bk_sjb_l</string>
			<key>logo</key>
			<string>bk_sjb_h</string>
		</dict>
		<key>天津银行</key>
		<dict>
			<key>icon</key>
			<string>bk_tccb_l</string>
			<key>logo</key>
			<string>bk_tccb_h</string>
		</dict>
		<key>浙江稠州商业银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>杭州市商业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_hzb_l</string>
			<key>logo</key>
			<string>bk_hzb_h</string>
		</dict>
		<key>广州银行</key>
		<dict>
			<key>icon</key>
			<string>bk_gzb_l</string>
			<key>logo</key>
			<string>bk_gzb_h</string>
		</dict>
		<key>日本三井住友卡</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>包商银行</key>
		<dict>
			<key>icon</key>
			<string>bk_bsb_l</string>
			<key>logo</key>
			<string>bk_bsb_h</string>
		</dict>
		<key>三菱信用卡</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>锦州银行</key>
		<dict>
			<key>icon</key>
			<string>bk_jzb_l</string>
			<key>logo</key>
			<string>bk_jzb_h</string>
		</dict>
		<key>长沙银行</key>
		<dict>
			<key>icon</key>
			<string>bk_csb_l</string>
			<key>logo</key>
			<string>bk_csb_h</string>
		</dict>
		<key>龙江银行</key>
		<dict>
			<key>icon</key>
			<string>bk_ljb_l</string>
			<key>logo</key>
			<string>bk_ljb_h</string>
		</dict>
		<key>集友银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>汉口银行</key>
		<dict>
			<key>icon</key>
			<string>bk_hkb_l</string>
			<key>logo</key>
			<string>bk_hkb_h</string>
		</dict>
		<key>台州银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>青海银行</key>
		<dict>
			<key>icon</key>
			<string>bk_qhb_l</string>
			<key>logo</key>
			<string>bk_qhb_h</string>
		</dict>
		<key>宁夏银行</key>
		<dict>
			<key>icon</key>
			<string>bk_nxb_l</string>
			<key>logo</key>
			<string>bk_nxb_h</string>
		</dict>
		<key>重庆银行</key>
		<dict>
			<key>icon</key>
			<string>bk_cqb_l</string>
			<key>logo</key>
			<string>bk_cqb_h</string>
		</dict>
		<key>金华银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>河北银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>乌鲁木齐市商业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_uccb_l</string>
			<key>logo</key>
			<string>bk_uccb_h</string>
		</dict>
		<key>吉林市商业银行</key>
		<dict>
			<key>icon</key>
			<string>bk_jlb_l</string>
			<key>logo</key>
			<string>bk_jlb_h</string>
		</dict>
		<key>莱商银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>东莞银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>鄂尔多斯银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>齐鲁银行</key>
		<dict>
			<key>icon</key>
			<string>bk_qlb_l</string>
			<key>logo</key>
			<string>bk_qlb_h</string>
		</dict>
		<key>临商银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>齐商银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>徽商银行</key>
		<dict>
			<key>icon</key>
			<string>bk_hsb_l</string>
			<key>logo</key>
			<string>bk_hsb_h</string>
		</dict>
		<key>贵阳银行</key>
		<dict>
			<key>icon</key>
			<string>bk_gyb_l</string>
			<key>logo</key>
			<string>bk_gyb_h</string>
		</dict>
		<key>兰州银行</key>
		<dict>
			<key>icon</key>
			<string>bk_lzb_l</string>
			<key>logo</key>
			<string>bk_lzb_h</string>
		</dict>
		<key>青岛银行</key>
		<dict>
			<key>icon</key>
			<string>bk_qdb_l</string>
			<key>logo</key>
			<string>bk_qdb_h</string>
		</dict>
		<key>南昌银行</key>
		<dict>
			<key>icon</key>
			<string>bk_ncb_l</string>
			<key>logo</key>
			<string>bk_ncb_h</string>
		</dict>
		<key>九江银行</key>
		<dict>
			<key>icon</key>
			<string>bk_jjb_l</string>
			<key>logo</key>
			<string>bk_jjb_h</string>
		</dict>
		<key>日照银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>潍坊银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>赣州银行</key>
		<dict>
			<key>icon</key>
			<string>bk_gzcb_l</string>
			<key>logo</key>
			<string>bk_gzcb_h</string>
		</dict>
		<key>富滇银行</key>
		<dict>
			<key>icon</key>
			<string>bk_fdb_l</string>
			<key>logo</key>
			<string>bk_fdb_h</string>
		</dict>
		<key>内蒙古银行</key>
		<dict>
			<key>icon</key>
			<string>bk_boimc_l</string>
			<key>logo</key>
			<string>bk_boimc_h</string>
		</dict>
		<key>湖州银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>威海市商业银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>承德银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>上饶银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
		<key>东营银行</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>logo</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
